<h1><%= @title %></h1>

<form action="/bmi_calculation" method="post">
  <input type="text" name="units" placeholder="Unitt (m/i)" autofocus>
  <input type="text" name="weight" placeholder="weight (KG/S)" autofocus>
  <input type="text" name="height" placeholder="Height (M/I)"autofocus>
  <button>Calculate!</button>


  <p> Your BMI is: <%= @result %> </p>